/* Nguyen Minh Tan */
#wrapper {
  display: flex;
  flex-direction: column;
}

/* banner top */

.banner__site-top {
  background-color: var(--primary-color);
}

.banner__container-top {
  display: flex;
  margin: 0 62px;
  color: var(--white-color);
  justify-content: space-around;
  align-items: center;
}

.banner__container-socials {
  display: flex;
}

.banner__social-items {
  display: inline-block;
  padding: 10px;
}

.banner__socials-icon {
  color: var(--white-color);
  text-decoration: none;
}


/* Header */
#header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.header__site-center {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 2px 8px 0px #ccc;
  padding: 10px;
  z-index: 10000;
}

.header__logo > img {
  display: block;
  max-width: 185px;
}
/* Navigation */
.menu-action {
  display: none;
  border: none;
  margin: 0 10px;
  padding: 10px;
}

/* Navigation mobile */
#overlay-site {
  visibility: hidden;
  position: absolute;
  width: 100vw;
  height: 200vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

#btn-close {
  font-size: 2rem;
  color: var(--white-color);
  background-color: transparent;
  position: absolute;
  top: 2%;
  right: 5%;
  border: none;
  padding: 5px;
}

#btn-close:hover {
  cursor: pointer;
}
.header__nav--mobile {
  position: relative;
  background-color: #fff;
  width: 320px;
  height: 100vh;
  visibility: hidden;
  position: fixed;
  top: 0%;
  left: 0;
  z-index: 10000;
}


.header__nav-heading > a {
  padding: 10px;
  display: block;
  text-decoration: none;
  background-color: var(--primary-color);
}

.header__nav-content {
  display: flex;
}

.header__nav-content > i {
  color: #000;
  font-size: 4rem;
  margin-right: 16px;
  overflow: hidden;
}

.header__nav-desc {
  color: #fff;
  font-size: 1.2rem;
}

.header__nav-menu-container {
  list-style: none;
}

.header__nav-menu-container li a{
  display: block;
  text-decoration: none;
  color: #000;
  padding: 15px 0 15px 10px;
  border-bottom: 1px solid var(--border-color) ;
}

.header__nav-menu-container li a:hover {
  cursor: pointer;
  color: var(--primary-color);
}


/* Navigation PC */
.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__nav-container {
  position: relative;
}

.header__nav-item {
  display: inline-block;
  font-size: 1.6rem;
  padding: 0 12px;
}

.header__nav-item-link {
  display: block;
  text-decoration: none;
  padding: 10px 0;
  color: var(--black-color);
}

.header__nav-item-link:hover {
  color: var(--primary-color);
  cursor: pointer;
  transition: 0.3s;
}

.header__nav-item a i {
  font-weight: bold;
  font-size: 1.2rem;
  margin-left: 4px
}
/* Header Menu section */
.header__menu {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  transition: 0.4s;
  background-color: var(--white-color);
  padding: 20px;
  top: 0;
  left: 0;
  box-shadow: 0px 5px 8px 0px #ccc;  
  z-index: 1000;
}
.header__nav-item--menu:hover .header__menu {
  opacity: 1;
  top: 124%;
  visibility: visible;
  animation: headerMenuGrowth ease-in-out 0.4s;
  border-top: 2px solid var(--primary-color);
}

@keyframes headerMenuGrowth {
  from {
    opacity: 0;
    top: 0%;
  }
  to {
    opacity: 1;
    top:124%;
  }
}


.header__menu-page {
  width: 100%;
  border-top: 2px solid var(--primary-color);
}

.header__menu:before {
  content: "";
  position: absolute;
  right: 39%;
  top: -5%;
  border-width: 11px 100px;
  border-style: solid;
  border-color: transparent;
}

.header__menu-container {
  display: flex;
}

.header__menu-item {
  display: inline-block;
  flex: 1;
  padding: 8px 14px;
}

.header__menu-title {
  position: relative;
  font-size: 15px;
  display: block;
  margin: 8px 0;
  padding-right: 0;
  text-transform: uppercase;
  font-weight: bold;
}

.header__menu-title::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 50px;
  background: #53a716;
  bottom: -4px;
}

.header__menu-title > a {
  text-decoration: none;
  font-weight: bold;
  color: var(--black-color);
}


.header__submenu-container {
  display: flex;
  flex-direction: column;
}

.header__submenu-item {
  display: inline-block;
  padding: 4px 0;
}

.header__submenu-item > a {
  display: block;
  color: var(--text-color);
  text-decoration: none;
}

.header__menu-title > a:hover,
.header__submenu-item > a:hover {
  transition: 0.3s;
  color: var(--primary-color);
}

/* header tools */

.header__tools-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__tools-container{
  display: flex;
  align-items: center;
}

.header__tools-item{
  display: inline-block;
}

.header__tools-item i {
  color: #000;
  font-size: 2rem;
}

.header__tools-item-link {
  display: block;
  position: relative;
  padding: 8px;
}

.header__tools-item-link:hover::after {
  color: #fff;
  font-size: 1.2rem;
  content: attr(data-content);
  width: 80px;
  transition: 0.3s;
  display: block;
  position: absolute;
  background-color: var(--black-color);
  top: 90%;
  right: -75%;
  border: 2px solid #000;
  z-index: 1000;
  border-radius: 10%;
  text-align: center;
}

.header__search-dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  right: 4.25%;
  box-shadow: 2px 0px 10px 0px #ccc;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--white-color);
}

.header__search-content {
  padding: 10px 10px;
}

.header__search-title {
  font-size: 17px;
  color: var(--black-color);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 0 0 10px;
  font-weight: 500;
  padding: 6px 10px;
  text-align: center;
  border-bottom: 1px solid #ededed;
}

.header__search-form {

}

.header__search-inner {
  padding: 10px;
}

.header__search-input {
  background: #f5f5f5;
  border: 1px solid #ececec;
  font-size: 1.4rem;
  color: #333333;
  font-weight: 500;
  width: 100%;
  height: 45px;
  padding: 0 75px 0 20px;
  margin: 0;
  display: inline-block;
  border-radius: 0;
}

.header__btn-search {
  width: 45px;
  height: 45px;
  line-height: 45px;
  position: absolute;
  padding: 0;
  top: 53%;
  right: 7%;
  background: transparent;
  border: none;
  outline: none;
  opacity: 0.6;
}

.header__btn-search:hover {
  cursor: pointer;
  opacity: 0.8;
}


/* Main */
#main {
  min-height: 50vh;
}

/* Back to top */

#wd-up {
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  color: #53a716;
  border: 2px solid #53a716;
  position: fixed;
  bottom: 80px;
  right: 14px;
  padding: 6px 10px;
  border-radius: 3px;
  background-color: transparent;
  z-index: 2000;
}

#wd-up:hover {
  transition: 0.3s;
  background-color: var(--primary-color);
  color: var(--white-color);
  cursor: pointer;
}



/* Slider */

.main__slideshow {
  position: relative;
  width: 100vw;
}

.main__slide-wrapper > button {
  border: none;
  box-shadow: none;
  background: rgba(83, 167, 22, 0.8);
  color: #fff;
  border-radius: 0;
  width: 35px;
  height: 40px;
} 
 

.main__slide-item {
 
}

.wd-prev {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}
.wd-next {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}


.main__slide-img {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  display: block;
  z-index: 1;
  opacity: 0;
}

.main__slide-img--main {
  opacity: 0;
  display: block;
  position: inherit;
  width: 100%;
  height: auto;
}

.main__slide-nav {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.main__slide-label {
  width: 25px;
	height: 5px;
	border: 1px solid grey;
	display: inline-block;
	margin: 0 5px;
	z-index: 100;
}

.main__slide-label:hover {
  transition: 0.3s;
  cursor: pointer;
  background-color: var(--primary-color);
}

.main__slide-radio {
  /* /* z-index: 1; */
  position: absolute; 
  visibility: hidden;
}


.main__slide-radio:checked + .main__slide-item img {
  opacity: 1;
  transition: 0.5s;
  z-index: 10;
}

/* Banner Two */
.main__banner-two {
  margin: 0 72px;
  padding-top: 20px;
}

.main__banner-two-container {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.main__banner-two-item:first-child {
  margin-right: 16px;
}

.main__banner-two-item {
  overflow: hidden;
  position: relative;
}

.main__banner-two-link {
  display: block;
  border-radius: 5px;
  overflow: hidden;
}

@keyframes bannerGrowth {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.main__banner-two-link:hover > img {
  transform: scale(1.2);
  animation: bannerGrowth 0.5s linear;
}

.main__banner-two-link > img {
  display: block;
  transition: 0.4s;
  width: 100%;
  border-radius: 5px; 
}

.main__banner-two-content {
  position: absolute;
  top: 2%;
  left: 8%;
  z-index: 10;
}

.main__banner-two-content h3 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 550;
}

.main__banner-two-content span {
  font-size: 2rem;
}

.main__banner-two-content a {
  text-decoration: none;
  font-size: 2rem;
  color: var(--primary-color);
  text-transform: uppercase
}

/* Main Products Trang chu */

.main__products {
  display: flex;
  flex-direction:column;
  margin: 0 72px;
}

.main__title-section > span {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main__title-section > span::before {
  content: '';
  display: block;
  width: 15px;
  height: 2px;
  margin: 0 15px;
  background-color: var(--primary-color);
}

.main__title-section > span::after {
  content: '';
  display: block;
  width: 15px;
  height: 2px;
  margin: 0 15px; 
  background-color: var(--primary-color);
}

.main__products-container {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
}

.main__products-item {
  overflow: hidden;
  flex-basis: 25%;
  padding: 0 5px;
  margin-bottom: 16px;
}

.main__products-content {
  overflow: hidden;
  transition: 0.3s;
  background-color: var(--primary-color-rgba);
  border-radius: 4px;
  border: 1px var(--border-color) solid;
}

.main__products-content:hover {
  transition: 0.3s;
  border: 1px var(--primary-color) solid;
  box-shadow: 2px 0px 10px 0px #ccc;
}

.main__products-img {
  display: block;
  position: relative;
}

.main__products-sale {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 1.2rem;
  position: absolute;
  left: 5%;
  background: #ff0000;
  width: 36px;
  height: 32px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

.main__products-sale::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-top: 10px solid #ff0000;
}


.main__products-img > img {
  width: 100%;
  height: auto;
}

@keyframes toLeft{
  from {
    right: -10%;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

.main__products-item:hover .main__products-icon-action {
  display: block;
  opacity: 1;
  animation: toLeft 0.5s linear;
}

.main__products-icon-action {
  transition: 0.5s;
  opacity: 0;
  position: absolute;
  top: 25%;
  right: 0;
 
}


.main__products-cart,
.main__products-view {
  display: block;
  width: 35px;
  height: 35px;
  color: #232529;
  margin: 10px;
  padding: 0;
  border: 1px solid var(--border-color);
  line-height: 35px;
  border-radius: 50%;
  box-shadow: 0 0px 10px 0px #ccc;
  z-index: 10s;
}

.main__products-cart:hover,
.main__products-view:hover {
  transition: 0.3s;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--primary-color);
}

.main__products-detail {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 6px;
}


.main__products-detail a {
  display: block;
  text-decoration: none;
  color: var(--black-color);
}

.main__products-title {
  margin: 0;
  font-weight: 500;
}


.main__products-price > span {
  color: #e70303;;
}

/* Banner one */

.main__banner-one {
  position: relative;
}

.main__banner-one > img {
  width: 100%;
}

.main__banner-one-info {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.main__banner-one-title {
  font-weight: 500;
  color: var(--white-color);
  font-size: 4rem;
  margin-top: 0;
}

.main__banner-one-descr > p {
  color: var(--white-color);
  font-size: 2rem;
}

/* Tin tức */

.main__news {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main__news-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.main__news-item {
  flex-basis: 25%;
  padding: 0 5px;
  margin-right: 0 8px;
}

.main__news-item a {
  display: block;
  color: var(--primary-color);
  position: relative;
  overflow: hidden;

}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.main__news-item:hover > a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  animation: opacity 0.3s linear;
  z-index: 99;
}

.main__news-item a img {
  object-fit: cover;
  width: 100%;
  height: auto;
  transition: 0.4s;
}

.main__news-item:hover a img {
  transform: scale(1.2);
}

.main__news-content {

}

.main__news-public {
  margin-bottom: 0;
  display: flex;
  align-items: center;
}


.main__news-title {
  font-size: 1.6rem;
  margin-top: 9px;
  padding-top: 9px;
  border-top: 1px solid #dedede;
  text-transform: capitalize;
  margin-bottom: 0;
}

.main__news-desc {

}

.main__news-btn {

}





/* Footer section */
#footer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  background:#f3f3f3 url(../img/background-footer.webp) no-repeat top center;
  background-size: cover;
}

.footer__top {
  padding: 45px 0;
}


.footer__top-container {
  display: flex;
  flex-wrap: wrap;
  /* align-content: center; */
  margin: 0 60px;
}


.footer__top-item {
  flex-grow: 1;
  padding: 0 15px;
}

.footer__top-title {
  position: relative;
}

.footer__top-title h4 {
  font-size: 1.8rem;
}

.footer__top-title::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 50px;
  background: var(--primary-color);
  bottom: -4px;
}

.footer__top-info {
  display: flex;
  flex-direction: column;
}

.footer__top-info ul li {
  /* display: inline-block; */
  list-style: none;
  padding: 4px 0;
}

.footer__top-info ul li a {
  text-decoration: none;
  color: var(--black-color);
}

.footer__top-info ul li a:hover {
  transition: 0.3s;
  color: var(--primary-color);
}

.footer__top-info ul li i {
  color: var(--primary-color);
  margin: 0 4px;
}

#contact_email {
  margin: 4px 0;
  padding: 10px 0;
}

.footer__copyright {
  padding: 15px 0;
  border-top: 2px solid var(--border-color);

}

.footer__cpr-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__cpr-item {
  
}

.footer__cpr-item > img {
  display: block;
}

.footer__logo {
  display: block;
  max-width: 185px;
}


/* Main Trang Đăng ký */
.main__register {
  max-width: 620px;
  margin: 35px auto 50px;
  background: #ffffff;
  padding: 25px 30px 30px;
}

.main__register-header {
  font-weight: 500;
}

.main__register-form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 0 15px;
}

.main__register-container {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  list-style: none;
}

.main__register-btn {
  margin-top: 15px;
}

.main__register-item {
  width: 100%;
  margin-top: 15px;

}

.main__register-item > input {
  width: 100%;
  padding: 10px 12px;
}

.come-back {
  text-decoration: none;
  color: var(--black-color);
}

.come-back:hover {
  color: var(--primary-color);
  cursor: pointer;
}


/* Main trang Đăng nhập */
.main__login {
  max-width: 62rem;
  margin: 35px auto 50px;
  background: #ffffff;
  padding: 25px 30px 30px;
}

.main__login-header {
  font-weight: 500;
}

.main__login-form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 0 15px;
}

.main__login-container {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.main__login-item {
  margin-bottom: 15px;
}

.main__login-item > input {
  width: 100%;
  padding: 10px 12px;
}

.main__forgot-pass {
  text-align: center;
}

.main__forgot-pass a {
  font-size: inherit;
  text-decoration: none;
  color: var(--primary-color);
}

/* Trang gio hang */

.main__cart {
  padding-top: 30px;
}

.main__cart-form {

}

.main__cart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.main__cart-template {
  padding: 0 15px;
  flex-basis: 60%;
}

.main__cart-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);

}

.main__cart-count {

}

.main__cart-wrap {

}

.main__cart--no-item {
  margin: 20px 0;
  text-align: center;
  font-size: 1.7rem;
}

.main__cart--no-item a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 600;
}

.main__cart-checkout {
  flex-basis: 30%;
  padding:  15px;
  border: 1px solid var(--border-color);
}

.main__cart-order {

}

.main__order-title {
  padding: 10px 0;
  border-bottom: 1px solid var(--border-color);

}

.main__order-title h4 {
  font-size: 2.1rem;
  font-weight: 600;
  margin: 0;
}

.main__order-total {
  padding: 15px 0px;
  border-bottom: 1px solid var(--border-color);
}

.main__order-total p {
  margin: 0;
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.main__order-total-price {
  color: red;
}

.main__order-text {
  padding: 15px 0;
}

.main__order-buttons {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.main__order-note {
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 1.6rem;
}

.main__order-control {
  width: 100%;
  resize: none;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}


.main__order-btn-checkout {
  display: block;
  padding: 10px 15px;
  border-radius: 3px;
  background: #53a716;
  color: #fff;
  margin-bottom: 15px;
  border: none;
  outline: none;
  width: 100%;
}

.main__order-action-continue {
  text-align: center;
}

.main__order-action-continue a{
  text-decoration: none;
  color: var(--black-color);
}

.main__order-action-continue a:hover {
  color: var(--primary-color);
  cursor: pointer;
}
/* Các sản phẩm được thêm vào giỏ hàng */

.main__cart-item-container {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid var(--border-color);
}

.main__cart-item-info {
  display: flex;
  padding: 10px;
}

.item-img img{
  max-width: 100px;
}

.item-detail {
  padding: 0 10px;
}

.item-title {
  font-weight: 600;
}

.item-price {

}

.main__cart-item-qty {

}

.main__cart-item-price {

}




